name: Static analysis

on:
  push:
    branches:
      - 'master'
      - '[0-9].[0-9]+'
  pull_request: ~

jobs:
  static-analysis:
    name: ${{ matrix.script }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        script: ['phpstan']

    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          coverage: none

      - uses: ramsey/composer-install@v3
        with:
          dependency-versions: highest
          composer-options: '--prefer-dist'
          ignore-cache: 'yes'

      - run: composer ${{ matrix.script }}
